
.header-component-background{
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
  background: gray;
  border-width: 2px;
  border-style: solid;
  border-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-component-mobilebutton{
  font-size: 4vh;
  color: gray;
  background: lightblue;
  border: none;
  border-radius: 10px;
  vertical-align: middle;
}
.header-component-mobilebutton:active{
  background: darkgray;
}
.header-component-mobilebutton:focus{
  outline: none;
}

.open{
  display: block !important;
  opacity: 1 !important;
  transform: translateX(0) !important;
}
.header-component-nav{
  opacity: 0;
  position: absolute;
  transform: translateX(-3rem);
  transition: opacity 500ms ease-in-out, transform 500ms ease-out;
  top: 10%;
  left: 0;
  width: 100%;
  height: 80%;
  background-color: gray;
  z-index: 101;
}

.header-component-listItems{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
  height: 100%;
  padding-left: 0;
  width: 100%;
}
.header-component-title{
  color: lightblue;
  text-decoration: none;
  font-weight: bold;
  pointer-events: none;
  font-size: 2.5vh;
  text-align: center;
}

.header-component-listItem{

  font-weight: bold;
  font-size: xx-large;
}
.header-component-listItemButton{
  font-size: 4vh;
  width: 40vh;
  background: lightblue;
  color: gray;
  border-radius: 10px;
}

.header-component-listItemButton:active{
  background-color: darkgray;
}
.header-component-listItemButton:focus{

  outline: none;
}
.active{
  background: gray;
  color: lightblue;
  border-width: 4px;
  border-style: solid;
  border-color: lightblue;
  pointer-events: none;
}


/*
Device Sizes: CSS Width (According to mydevice.io/#compare-devices)
 Smartphone: 300-600 or 18.75 - 37.5 rem
 Tablet: 600 - 1024 or 37.5 - 64 rem
 Desktops/Laptops: 1024 and up or 65 rem - anything rem
 */

 @media (min-width: 37.5rem){

 }

 @media (min-width: 65rem){
  .header-component-background{
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    background: gray;
    border-width: 2px;
    border-style: solid;
    border-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .header-component-title{
    color: lightblue;
    text-decoration: none;
    font-weight: bold;
    pointer-events: none;
    font-size: 2rem;
    text-align: center;
  }
  .header-component-nav{
    display: block;
    opacity: 1;
    transform: none;
    transition: none;
    width: 70%;
    position: static;
    top: 0;
    height: auto;
    z-index: 1;
  }

  .header-component-listItems{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .header-component-listItem{

    font-weight: bold;

  }
 .header-component-listItemLink{
   display: inline-block;
    font-size: 2rem;
    width: auto;
    background: gray;
    color: lightblue;
    border-radius: 0px;

  }

  .header-component-listItemLink:active{
    background-color: none;

  }
  .header-component-listItemLink:focus{
    background: none;
    outline: none;
  }
  .header-component-listItemLink:hover{
    color: darkgray;
    transform: translateY(-0.2rem);
    text-decoration: none;
  }
  .active{
    color: darkgray;

    pointer-events: none;

    background: gray;
    border-width: 0px;
    border-style: none;
    border-color: lightblue;
    pointer-events: none;
    animation: pageActivated 0.5s 0s 2;
  }

 }

 @keyframes pageActivated{
   0%{
      transform: translateY(0);
   }
   50%{
    transform: translateY(-0.5rem);
   }
   100%{
     transform: translateY(0);
   }
 }
