.about-component-backgroundImage{
  position: fixed;
  width: 100%;
  height: 80%;
  z-index: -1;
}
.about-component-NewPDFTabDropDown{
  opacity: 0;
  transform: translateY(-3rem);
  transition: opacity 200ms ease-out, transform 300ms ease-out;
  position: absolute;
  top: 35%;
  left: 5%;
  width: 90%;
  height: auto;
  background-color: gray;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: lightblue;
  z-index: 100;
}
.about-component-NewPDFTabDropDownOpen{
  display: block !important;
  opacity: 1 !important;
  transform: translateY(0) !important;
}
.about-component-NewPDFTabunorderedlist{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: auto;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;
  height: 100%;
}
.about-component-NewPDFTablistitem{
  font-weight: bold;
  font-size: 2vh;
  color: lightblue;
}
.about-component-NewPDFTabdropdownbutton{
  font-size: 3vh;
  background: lightblue;
  color: gray;
  border-radius: 10px;
  width: 50%;
}
.about-component-FlexContainer{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  background: rgba(128,128,128,0.9);
  margin-bottom: 0;
}
.about-component-AboutText{
  font-size: 2vh;
  color: lightblue;

}
.about-component-ResumeLink{
  font-size: 2.5;
  color: lightblue;
  text-decoration: underline;
  position: relative;
  bottom: 10px

}
@media (min-width: 37.5rem){

}

@media (min-width: 65rem){
  .about-component-backgroundImage{
    position: fixed;
    width: 100%;
    height: 80%;
    z-index: -1;
  }
  .about-component-NewPDFTabDropDown{
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    height: auto;
    background-color: gray;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: lightblue;
    z-index: 100;
  }
  .about-component-NewPDFTabunorderedlist{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    width: 100%;
    height: 100%;
  }
  .about-component-NewPDFTablistitem{
    font-weight: bold;
    font-size: 2rem;
    color: lightblue;
  }
  .about-component-NewPDFTabdropdownbutton{
    font-size: 2rem;
    background: lightblue;
    color: gray;
    border-radius: 10px;
    width: 50%;
  }
  .about-component-FlexContainer{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: normal;
    justify-content: space-between;
    flex-wrap: nowrap;
    background: rgba(128,128,128,0.9);
  }
  .about-component-AboutText{
    font-size: 2rem;
    color: lightblue;

  }
  .about-component-ResumeLink{
    font-size: 2.5rem;
    color: lightblue;
    text-decoration: underline;
    position: relative;
    bottom: 10px;
    align-self: center;

  }
  .about-component-ResumeLink:hover{
    cursor: pointer;
    color: darkgray;
  }
}
