.project-component-backgroundimage{
  position: fixed;
  width: 100%;
  height: 80%;
  z-index: -1;
}
.projects-component-linkDropDown{
  opacity: 0;
  transform: translateY(-3rem);
  transition: opacity 200ms ease-out, transform 300ms ease-out;
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
  height: auto;
  background-color: gray;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: lightblue;
  z-index: 100;
}
.projects-component-linkDropDownOpen{
  display: block !important;
  opacity: 1 !important;
  transform: translateY(0) !important;
}
.projects-component-linkunorderedlist{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: auto;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;
  height: 100%;
}
.projects-component-linkdropdownclosebutton{
  font-size: 3vh;
  background: lightblue;
  color: gray;
  border-radius: 10px;
  width: 50%;
}

.projects-component-linkdropdownclosebutton:hover
.projects-component-linkdropdownclosebutton:active{
  background: darkgray
}

.projects-component-linkdropdownclosebutton:focus{
  outline: none;
}
.projects-component-linklistitem{
  font-weight: bold;
  font-size: 2vh;
  color: lightblue;
}
.projects-component-container{
  display: flex;
  width: 100%;
  height: 80vh;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background: rgba(128,128,128,0.9);
}
.projects-component-projecttypename{
  position: absolute;
  width: 93.5vw;
  font-size: 4vh;
  text-align: center;
}
.projects-component-projectType{
  display: flex;
  border-width: 4px;
  border-style: solid;
  border-color: lightblue;
  width: 95%;
  height: 25%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
}
.projects-component-projects{
  width: 100%;
  min-width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 25% 25%;
  grid-template-areas: "Image Image"
                        "Desc Desc"
                        "ProjectButton GitHubButton";
  scroll-snap-align: start;

}
.projects-component-projectsImage{
  grid-area: Image;
  height: 80%;
  width: 100%;
}
.projects-component-projectDescription{
  font-size: 3vh;
  margin-bottom: 0;
  grid-area: Desc;
  text-align: center;
}
.projects-component-projectButton{
  font-size: 2.5vh;
  background: lightblue;
  color: gray;
  border-radius: 10px;
  grid-area: ProjectButton;
  outline: none;

}
.projects-component-projectButton:hover
.projects-component-projectButton:active{
  background: darkgray;
}
.projects-component-projectButton:focus{
  outline: none;
}
.projects-component-gitHubButton{
  font-size: 2.5vh;
  background: lightblue;
  color: gray;
  border-radius: 10px;
  grid-area: GitHubButton;
  outline: none;
}

.projects-component-gitHubButton:hover
.projects-component-gitHubButton:active{
  background: darkgray;
}
.projects-component-gitHubButton:focus{
  outline: none;
}

@media (min-width: 37.5rem){

}

@media (min-width: 65rem){
  .project-component-backgroundimage{
    position: fixed;
    width: 100%;
    height: 80%;
    z-index: -1;
  }
  .projects-component-linkDropDown{
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    height: auto;
    background-color: gray;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: lightblue;
    z-index: 100;
  }
  .projects-component-linkunorderedlist{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    width: 100%;
    height: 100%;
  }
  .projects-component-linkdropdownclosebutton{
    font-size: 3vh;
    background: lightblue;
    color: gray;
    border-radius: 10px;
    width: 50%;
  }
  .projects-component-linklistitem{
    font-weight: bold;
    font-size: 2vh;
    color: lightblue;
  }
  .projects-component-container{
    display: flex;
    width: 100%;
    height: 80vh;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(128,128,128,0.9);
  }
  .projects-component-projecttypename{
    position: absolute;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: lightblue;

  }
  .projects-component-projectType{
    display: flex;
    position: relative;
    border-width: 4px;
    border-style: solid;
    border-color: lightblue;
    width: 95%;
    height: 30%;
    flex-direction: row;
    flex-wrap: nowrap;

    overflow-x: auto;
    overflow-y: hidden;
  }
  .projects-component-projects{
    width: 25%;
    height: 80%;
    align-self: flex-end;
    min-width: 25%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 25% 25%;
    grid-template-areas: "Image Image"
                          "Desc Desc"
                          "ProjectButton GitHubButton";
    scroll-snap-align: none;
    margin-right: 1rem;

  }
  .projects-component-projectsImage{
    grid-area: Image;
    height: 150%;
    width: 100%;

  }

  .projects-component-projectDescription{
    font-size: 1rem;
    margin-bottom: 0;
    grid-area: Desc;
    text-align: center;
  }
  .projects-component-projectButton{
    font-size: 1.5rem;
    background: lightblue;
    color: gray;
    border-radius: 10px;
    grid-area: ProjectButton;

  }
  .projects-component-projectButton:focus{
    outline: none;
  }
  .projects-component-gitHubButton{
    font-size: 1.5rem;
    background: lightblue;
    color: gray;
    border-radius: 10px;
    grid-area: GitHubButton;
    outline: none;
  }
  .projects-component-gitHubButton:focus{
    outline: none;
  }
}


