.contact-component-background{
  position: fixed;
  width: 100%;
  height: 80%;
  z-index: -1;
  background-color: gray;
}
.contact-component-confirmationdropdown{
  opacity: 0;
  transform: translateY(-3rem);
  transition: opacity 200ms ease-out, transform 300ms ease-out;
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
  height: auto;
  background-color: gray;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: lightblue;
  z-index: 100;
}
.contact-component-confirmationdropdownOpen{
  display: block !important;
  opacity: 1 !important;
  transform: translateY(0) !important;
}
.contact-component-confirmunorderedlist{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: auto;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;
  height: 100%;
}
.contact-component-confirmdropdownclosebutton{
  font-size: 3vh;
  background: lightblue;
  color: gray;
  border-radius: 10px;
  width: 50%;
}
.contact-component-confirmdropdownclosebutton:focus
.contact-component-confirmdropdownclosebutton:active{
outline: none;
background: darkgray;
}
.contact-component-confirmlistitem{
  font-weight: bold;
  font-size: 2vh;
  color: lightblue;
}
.contact-component-form{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.formItems{
  min-width: 80%;
  color: lightblue
}
.formItem{
  display: block;
  min-width: 100%;
}
::placeholder{
  color: darkgray;
}
:-ms-input-placeholder{
  color: darkgray;
}
::-ms-input-placeholder{
  color: darkgray;
}
input, textarea{
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: lightblue;
  background-color: gray;
  color: lightblue;

}
input:focus, textarea:focus{
  outline: none;

}
input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
  border: 1px solid red;
}
.formButton{
  font-size: 3vh;
  background: lightblue;
  color: gray;
  border-radius: 10px;
  width: 50%;
  position: relative;
  top: 8vh;
}
.formButton:disabled{
  background-color: lightgray;
}
@media (min-width: 37.5rem){

}

@media (min-width: 65rem){
  .contact-component-confirmationdropdown{
    top: 10%;
    left: 25%;
    width: 50%;
    height: auto;

  }

  .contact-component-confirmdropdownclosebutton{
    font-size: 2rem;
  }


  .contact-component-confirmdropdownclosebutton:active{
    outline: none;
    background: darkgray;
  }
  .contact-component-confirmdropdownclosebutton:hover{
    background: darkgray;
  }
  .contact-component-confirmlistitem{
    font-size: 2rem;
  }
  .contact-component-form{
    position: relative;
    width: 50%;
    left: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  .formItems{
    width: 50%;
    color: lightblue
  }
  .formItem{
    display: block;
    font-size: 2rem;
    width:  50%;
  }


  .formButton{
    font-size: 2rem;
    top: 10px;
  }
  .formButton:disabled{
    background-color: lightgray;
  }
}
