.testimonials-component-BackgroundImage{
  position: fixed;
  width: 100%;
  z-index: -2;
  height: 80%;
}
.testimonials-component-testimonialsdropdown
{
  opacity: 0;
  transform: translateY(-3rem);
  transition: opacity 200ms ease-out, transform 300ms ease-out;
  position: absolute;
  top: 20%;

  width: 100%;
  height: 60%;
  background-color: gray;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: lightblue;
  z-index: 100;
}
.testimonials-component-testimonialsdropdownOpen{
  display: block !important;
  opacity: 1 !important;
  transform: translateY(0) !important;
}
.testimonials-component-testimonialunorderedlist{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: auto;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;
  height: 100%;
}
.testimonials-component-testimonialdropdownclosebutton{
  font-size: 3vh;
  background: lightblue;
  color: gray;
  border-radius: 10px;
  width: 50%;
}

.testimonials-component-testimonialdropdownclosebutton:focus
.testimonials-component-testimonialdropdownclosebutton:active{
outline: none;
background: darkgray;
}
.testimonials-component-testimoniallistitem{
  font-weight: bold;
  font-size: 2vh;
  color: lightblue;
}
.testimonials-component-container{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background: rgba(128,128,128,0.9);
}
.testimonials-component-testimonialsbox{
  display: flex;
  border-width: 4px;
  border-style: solid;
  border-color: lightblue;

  width: 95%;
  height: 60vh;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;


}
.testimonials-component-testimonial{
  width: 100%;
  min-width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 25% 25%;
  grid-template-areas: "Quote"
                        "Author"
                        "TestimonialButton";
  scroll-snap-align: start;

}
.testimonials-component-testimonialquote{
  grid-area: Quote;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0;
  color: lightblue;
}
.testimonials-component-button{
  grid-area: TestimonialButton;
  font-size: 4vh;
  background: lightblue;
  color: gray;
  border-radius: 10px;
}

.testimonials-component-button:focus
.testimonials-component-button:active{
outline: none;
background: darkgray;

}
.testimonials-component-testimonialauthor{
  font-size: 1.5rem;
  grid-area: Author;
  text-align: center;
  margin-bottom: 0;
  color: lightblue;

}

@media (min-width: 37.5rem){

}

@media (min-width: 65rem){
  .testimonials-component-BackgroundColor{
    position: fixed;
    background: rgba(128,128,128,0.9);
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  .testimonials-component-desktopcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-around;

  }
  .testimonials-component-testimonialscontainer{
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 33%;
    height: 50%;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: lightblue;
    align-items: center;



  }
  .testimonials-component-testimonialitem{
    font-size: 2rem;
    color: lightblue;
  }
}

