<div class = "home-component-main">
  <div class = "home-component-content">
    <div class = "homeImage" [ngStyle] = "BackgroundImages[0]"></div>
    <p class = "homeQuote" id = "Quote1Animation">{{home.myQuote[0]}}</p>
  </div>
  <div class = "home-component-content">
    <div class = "homeImage" [ngStyle] = "BackgroundImages[1]"></div>
    <p class = "homeQuote" id = "Quote2Animation">{{home.myQuote[1]}}</p>
  </div>
  <div class = "home-component-content">
    <div class = "homeImage" [ngStyle] = "BackgroundImages[2]"></div>
    <p class = "homeQuote" id = "Quote3Animation">{{home.myQuote[2]}}</p>
  </div>
  <div class = "home-component-content">
    <div class = "homeImage" [ngStyle] = "BackgroundImages[3]"></div>
    <p class = "homeQuote" id = "Quote4Animation">{{home.myQuote[3]}}</p>
  </div>
</div>
