.home-component-main{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  overflow-y: hidden;

}
.home-component-content{
  position: relative;
width: 100%;
height: 25%;
}
.homeImage{
  max-width: 100%;
  height: 100%;

}
.homeQuote{
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 6vh;
  color: gray;
  text-shadow: 2px 2px lightblue;
  font-weight: bold;

}
#Quote1Animation{
  animation: QuoteAnimate 1s linear 0s 1 normal both;

}
#Quote2Animation{
  animation: QuoteAnimate 1s linear 1s 1 normal both;

}
#Quote3Animation{
  animation: QuoteAnimate 1s linear 2s 1 normal both;

}
#Quote4Animation{
  animation: QuoteAnimate 1s linear 3s 1 normal both;

}

@media (min-width: 37.5rem){

}

@media (min-width: 65rem){

  .home-component-main{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 100%;
    height: 100%;

  }
  .home-component-content{
    position: relative;
  width: 100%;
  height: 100%;
  }
  .homeImage{
    max-width: 100%;
    height: 100%;

  }

  .homeQuote{
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    color: gray;
    text-shadow: 2px 2px lightblue;
    font-weight: bold;

  }



}

@keyframes QuoteAnimate{
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0.25;
  }
  50%{
    opacity: 0.5;
  }
  75%{
    opacity: 0.75;
  }
  100%{
    opacity: 1;
  }

}

